<!doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bellita : The Salon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/logo1.png">
		<!-- CSS here -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/static/css/dripicons.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
        <style>

            .appointment-table {
                width: 75%;
                border-collapse: collapse;
            }
        
            .appointment-table th,
            .appointment-table td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
            }
        
            .appointment-table th {
                color: white;
                background-color: #884cd2;
                border-top: 1px solid black;
            }
        
            .appointment-table td {
                color: black;
                background-color: white;
                border-top: 1px solid black;
            }
        
            .appointment-table tbody tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        
            .appointment-table tbody td:last-child {
                border-right: none;
            }

            #men-services p {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            #women-services p {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            input[type="checkbox"] {
                width: 12px;
                height: 12px;
                cursor: pointer;
              }        
        </style>
    </head>
    <body style= "background-image: url(/static/img/bg/ap-bg.png); background-repeat: repeat; background-size: 100%;">
<!-- header -->
        <header class="header-area header-three">  
            <div id="header-sticky" class="menu-area">
              <div class="container">
                  <div class="second-menu">
                      <div class="row align-items-center">
                          <div class="col-xl-2 col-lg-2">
                              <div class="logo">
                                  <a href="/index"><img src="/static/img/logo/logo.png" alt="logo"></a>
                              </div>
                          </div>   
                           <div class="col-xl-3 col-lg-3 text-right d-none d-lg-block mt-25 mb-25 text-right text-xl-right">
                              <div class="login">
                                  <ul>
                                      <li>
                                          <div class="second-header-btn">
                                          </div>
                                      </li>
                                  </ul>
                              
                              </div>
                             
                          </div>
                          
                              <div class="col-12">
                                  <div class="mobile-menu"></div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
<!-- header-end --> 
<!-- booking-area -->
<section id="booking" class="booking-area p-relative pt-120 pb-120">
    <div class="container">
        <br>
        <br>
        <br>
        <div class="section-title center-align">
            <h5>Get In Touch</h5>
                <h2>Get Appointment</h2>
                    <p></p>
        </div>
        <form method="post" action="{% url 'appointment' %}" class="contact-form mt-30">
            {% csrf_token %}
            <div class="row">
                <center><div class="col-lg-6">                               
                    <div class="contact-field p-relative c-subject mb-20">
                        <p id="toggleButtonMen" class="btn" onclick="toggleGender('men-services')">Men</p>
                        <p id="toggleButtonWomen" class="btn" onclick="toggleGender('women-services')">Women</p>
                    </div>
                </div></center>
                <div class="col-lg-6">
                    <div class="contact-field p-relative c-name mb-20">
                        <input type="text" id="input_name" name="input_name" placeholder="Enter Name" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-field p-relative c-name mb-20">
                        <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
                    </div>
                </div>
                <div class="col-lg-6">                               
                    <div class="contact-field p-relative c-subject mb-20">
                        <input type="tel" id="mobile_number" name="mobile_number" placeholder="Phone number" required pattern="[0-9]{10}" >
                    </div>
                </div>
                <div class="col-lg-6">                               
                    <div class="contact-field p-relative c-subject mb-20">
                        <input type="date" id="date" name="date" placeholder="Select Date" required>
                    </div>
                </div>
                <center><div id="men-services" class="contact-field p-relative c-subject mb-20" style="display:none;">
                    <p id="toggleButton" class="btn" onclick="toggleTable('MHair')">Hair</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MMask')">Mask</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Care')">Care</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MD-tan')">D-tan</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MScalp')">Scalp</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MFacial')">Facial</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MClean up')">Clean up</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MHair Wash')">Hair Wash</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MHair Color')">Hair Color</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MHead Massage')">Head Massage</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('MHair Treatments')">Hair Treatments</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Texture Service')">Texture Service</p>
                </div>
                <div id="women-services" class="contact-field p-relative c-subject mb-20" style="display:none;">
                    <p id="toggleButton" class="btn" onclick="toggleTable('WHair')">Hair</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WMask')">Mask</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WD-tan')">D-tan</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WScalp')">Scalp</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WFacial')">Facial</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Waxing')">Waxing</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Styling')">Styling</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Make up')">Make up</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WClean up')">Clean up</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Threading')">Threading</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WHair Wash')">Hair Wash</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WHair Color')">Hair Color</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WHead Massage')">Head Massage</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Root Touch Up')">Root Touch Up</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Bleach/Shiner')">Bleach/Shiner</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Waxing Roll On')">Waxing Roll On</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('WHair Treatments')">Hair Treatments</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Protein Treatment')">Protein Treatment</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Texture Treatment')">Texture Treatment</p>
                    <p id="toggleButton" class="btn" onclick="toggleTable('Advanced Treatments')">Advanced Treatments</p>
                </div></center>                                 
                <br>
                {% comment %} <table id="men" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table> {% endcomment %}
                {% comment %} <table id="women" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table> {% endcomment %}
                <center><table id="MHair" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Hair' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MMask" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Mask' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Care" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Care' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MD-tan" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'D-tan' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MScalp" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Scalp' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MFacial" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Facial' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MClean up" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Clean up' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MHair Wash" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Hair Wash' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MHair Color" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Hair Color' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MHead Massage" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Head Massage' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="MHair Treatments" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Hair Treatments For Men' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Texture Service" border=1 class="appointment-table" style="display: none;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Service Time</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Men' and service.category == 'Texture Service' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WHair" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Hair' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WMask" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Mask' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WD-tan" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'D-tan' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WScalp" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Scalp' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WFacial" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Facial' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Waxing" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Waxing' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Styling" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Styling' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Make up" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Make up' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WClean up" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Clean up' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Threading" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Threading' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WHair Wash" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Hair Wash' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WHair Color" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Hair Color' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WHead Massage" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Head Massage' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Root Touch Up" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Root Touch Up' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Bleach/Shiner" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Bleach/Shiner' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Waxing Roll On" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Waxing Roll On' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="WHair Treatments" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Hair Treatments For Women' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Protein Treatment" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Protein Treatment' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Texture Treatment" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Texture Treatment' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
                <table id="Advanced Treatments" border=1 class="appointment-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Service Time</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        {% if service.gender == 'Women' and service.category == 'Advanced Treatments' %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.service_time}}</td>
                            <td><input type="checkbox" id="checkbox" name="selectedServices" value="{{service.name}}"> Select Service</td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table></center>
                <center><div class="col-lg-12">
                    <br>
                    <div class="slider-btn">
                        <button type="reset" class="btn">Reset</button>
                    </div>
                    <div class="slider-btn">
                        <button type="submit" class="btn">Book Appointment</button>
                    </div>
                </div></center>
            </div>
        </form>
    </div>
</section>
    {% comment %} <div class="col-lg-6">
        <div class="opening-time">
            <div class="open-img">
                <img src="/static/img/bg/open-box-img.png" alt="icon01">
</div>
<h3>Open Hours</h3>
<div class="text">
    <div class="left-text">Everyday:</div>
    <div class="right-text">09:30 am – 09:00 pm</div>
</div> {% endcomment %}
<!-- booking-area-end -->
<!-- footer -->
<footer class="footer-bg footer-p pt-90" style="background-color: #252525; background-image: url(img/bg/footer-bg.png);">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="footer-widget mb-30">
                            <div class="logo">
                                <a href="/index"><img src="/static/img/logo/logo1.png" alt="logo" width="100%"></a>
                        </div>
                        <div class="footer-social mt-10">
                            <p>Have a look on our social media accounts... </p>
                        <a href="https://www.facebook.com/Bellitathesalon/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/pradeep_bellita_the_salon/"><i class="fab fa-instagram"></i></a>
                        <a href="https://mail.google.com/mail/u/0/?fs=1&to=bellitathesalon@gmail.com&tf=cm"><i class="fa fa-envelope"></i></a>    
                        <a href="tel:+919904455668"><i class="fas fa-phone-alt"></i></a>                                  
                    </div> 
                        <div class="footer-link">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Book Your Services Now</h2>
                        </div>
                        <div class="footer-link">
                            <ul>                                        
                                <li><a href="/appointment">Facials</a></li>
                                <li><a href="/appointment">Bridal Makeup</a></li>
                                <li><a href="/appointment">Hair Cut</a></li>
                                <li><a href="/appointment">Balayage</a></li>
                                <li><a href="/appointment">Styling</a></li>
                                <li><a href="/appointment">Texture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h2>Other Links</h2>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="/index"> Home</a></li>
                                <li><a href="/appointment">Book Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="row align-items-center copyright-wrap">
            <div class="col-lg-6">
                <div class="copy-text">
                    Copyright &copy; 2023 <a href="/index">Bellita</a>. All rights reserved.       
                </div>
                </div>
                <div class="col-lg-6">
                    <div class="copay-contact">                                    
                        <ul>
                                <li>
                                        <div class="c-contact">
                                            <div class="icon">
                                                <img src="/static/img/icon/ft-icon01.png" alt="logo">
                                            </div>
                                            <div class="text">
                                                <strong>Everyday:</strong>
                                                <p>09:30 AM - 09:00 PM</p>
                                            </div>
                                        </div>
                                    </li>
                               <li>
                                <a href="tel:+919904455668">
                                    <div class="c-contact">   
                                        <div class="icon">
                                            <img src="/static/img/icon/ft-icon03.png" alt="img">
                                        </div>
                                        <div class="text">
                                            <h3>Call Now:</h3>
                                            <p>+919904455668</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            </ul>
                        </div>    
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->
<!-- JS here -->
<script>
    
    function toggleGender(divId) {
      var table = document.getElementById(divId);
      var button = document.getElementById(`toggleButton${divId.charAt(0).toUpperCase() + divId.slice(1)}`);
  
      // Get the opposite div
      var oppositeDivId = (divId === "men-services") ? "women-services" : "men-services";
      var oppositeDiv = document.getElementById(oppositeDivId);
  
      if (table.style.display === "none") {
        oppositeDiv.style.display = "none"; // Hide the opposite div
        table.style.display = "block"; // Show the div
        button.textContent = "Hide " + divId.charAt(0).toUpperCase() + divId.slice(1);
  
      } else {
        table.style.display = "none"; // Hide the div
        button.textContent = "Show " + divId.charAt(0).toUpperCase() + divId.slice(1);
      }
    }

    function toggleTable(serviceName) {
        // Get the selected service table
        var selectedTable = document.getElementById(serviceName);
      
        // Check if the selected table is already visible
        var isTableVisible = selectedTable.style.display === "table";
      
        // Hide all service tables
        var tables = document.getElementsByClassName("appointment-table");
        for (var i = 0; i < tables.length; i++) {
          tables[i].style.display = "none";
        }
      
        // Show the selected service table only if it was not already visible
        if (!isTableVisible) {
          selectedTable.style.display = "table";
        }
      }
      
</script>  
<script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slick.min.js"></script>
<script src="/static/js/ajax-form.js"></script>
<script src="/static/js/paroller.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/js_isotope.pkgd.min.js"></script>
<script src="/static/js/imagesloaded.min.js"></script>
<script src="/static/js/parallax.min.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/jquery.scrollUp.min.js"></script>
<script src="/static/js/jquery.meanmenu.min.js"></script>
<script src="/static/js/parallax-scroll.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/element-in-view.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>