<!doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bellita : The Salon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/logo1.png">
		<!-- CSS here -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/static/css/dripicons.css">
        <link rel="stylesheet" href="/static/css/slick.css">
        <link rel="stylesheet" href="/static/css/meanmenu.css">
        <link rel="stylesheet" href="/static/css/default.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <body>
        <!-- header -->
        <header class="header-area header-three">  
			  <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="#"><img src="/static/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-7 col-lg-7">
                                <div class="main-menu text-right text-xl-right">
                                    <nav id="mobile-menu">
                                          <ul>
                                            <li class="has-sub">
                                                <a href="#home">Home</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="#about_us">About us</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="#our_services">Services</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="#our_prices">Pricing</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="#our_work">Gallery</a>
                                            </li>
                                            <li class="has-sub">
                                                <a href="#testimonials">Testimonials</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>   
                             <div class="col-xl-3 col-lg-3 text-right d-none d-lg-block mt-25 mb-25 text-right text-xl-right">
                                <div class="login">
                                    <ul>
                                        <li>
                                            <div class="second-header-btn">
                                               <a href="/appointment" class="btn">Book Appointment</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- main-area -->
        <main>
            <section id="home" class="slider-area fix p-relative">
                <div class="slider-active" style="background: #00173c;">
				<div class="single-slider slider-bg d-flex align-items-center" style="background-image: url(/static/img/slider/slider_bg.png); background-size: cover;">
                        <div class="container">
                           <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-6">
                                    <div class="slider-content s-slider-content mt-20">
                                         <h5 id="index" data-animation="fadeInUp" data-delay=".4s">Hair & Skincare Salon </h5>
                                         <h4 data-animation="fadeInUp" data-delay=".4s">Fascinating than any other,<br>fashion salon.</h4>
                                        <p data-animation="fadeInUp" data-delay=".6s">Hair is the only crown you wear 24x7,<br>take good care of it.</p>
                                          <div class="slider-btn mt-30">
                                              <a href="/appointment" class="btn ss-btn active">Book Now</a>
                                        </div>                         
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 p-relative">
                                </div>    
                            </div>
                        </div>
                    </div>
                    </div>
            </section>
            <!-- slider-area-end -->
             <!-- feature-area -->
             <section class="feature-area p-relative fix">
                 <div class="containe-fluid">
                     <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-box">
                    <div class="text">
                        <h5>For Women</h5>
                        <h4>Providing Hair And Skin <br>Care Using Premium <br>Products</h4>
                        <a href="/appointment">Book Now</a>
                    </div>
                    <img src="https://i.ibb.co/rpyx5Rr/banner-01.png" alt="banner-01" >
                    {% comment %} <img src="/static/img/features/banner-01.png" alt="icon01">      {% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="feature-box">
                    <div class="text">
                                    <h5>For Men</h5>
                                    <h4>Get The Best Glow With <br>Our Skin Products</h4>
                                    <a href="/appointment">Book Now</a>
                                </div>
                                <img src="https://i.ibb.co/n02rSFD/banner-02.png" alt="banner-02" >
                                {% comment %} <img src="/static/img/features/banner-02.png" alt="icon01">      {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="feature-box">
                                <div class="text">
                                    <h5>For Both</h5>
                                    <h4>Get The Best Care For Hair <br>And Skin</h4>
                                    <a href="/appointment">Book Now</a>
                                </div>
                                <img src="https://i.ibb.co/s6Fk7xg/banner-03.png" alt="banner-03" >
                                {% comment %} <img src="/static/img/features/banner-03.png" alt="icon01">      {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- feature-area-end -->
            <!-- about-area -->
            <section class="about-area about-p pt-120 pb-120 p-relative fix" style="background: url(/static/img/bg/about-bg.png); background-size: contain; background-position: center center; background-repeat: no-repeat;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="https://i.ibb.co/56sDWWn/about-img.png" alt="about-img" id="about_us">
                                {% comment %} <img src="/static/img/features/about_img.png" alt="img" id="about_us">    {% endcomment %}
                                <div class="about-text second-about">
                                    <span>5</span>
                                    <p>Years of Experience</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-title pb-25">  
                                    <h5>About Us</h5>
                                    <h1>Welcome to Bellita</h1>
                                    <p>Where beauty meets passion. Step into our enchanting realm of style and let us unlock your inner radiance. Our expert team is dedicated to crafting captivating looks that leave a lasting impression.</p>
                                    <p>Indulge in our world-class services tailored to your desires, whether it's a stunning haircut, vibrant hair color, or rejuvenating treatments.</p>
                                        <p>Experience the elegance of our salon, where comfort and sophistication intertwine. Embrace a personalized journey that celebrates your unique beauty.</p>
                                        <p>Book now and embark on a transformation that will leave you spellbound.</p>                                   
                                    </div>                                    
                                    <div class="slider-btn mt-20">                                          
                                        <a href="/appointment" class="btn ss-btn smoth-scroll">Explore More</a>				
                                    </div>
                                </div>
                            </div>
                     
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
             <!-- service-details2-area -->
            <section id="service-details2" class="service-details-two pb-105 p-relative" style="background: url(/static/img/bg/appointment-bg.png); background-size: contain; background-position: center center; background-repeat: no-repeat;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="section-title center-align mb-50 text-center">
                                <h5 id="our_services">Our Services</h5>
                                <h2>
                                    What We Provide
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="about-content s-about-content">
                                <ul class="sr-tw-ul ">
                                    <li>
                                        <!-- <div class="icon-right"><img src="/static/img/icon/fe-icon01.png" alt="icon01"></div> -->
                                        <div class="text">
                                            <h4><a href="/appointment">Facials</a></h4> 
                                            <p>We use premium products which would never harm your skin</p>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- <div class="icon-right"><img src="/static/img/icon/fe-icon05.png" alt="icon05"></div> -->
                                        <div class="text">
                                            <h4><a href="/appointment">Bridal Makeup</a></h4> 
                                            <p>We would help you to bring out the queen within</p>
                                        </div>
                                    </li>
                                 <li>
                                     <!-- <div class="icon-right"><img src="/static/img/icon/fe-icon06.png" alt="icon06"></div> -->
                                     <div class="text">
                                         <h4><a href="/appointment">Styling</a></h4> 
                                        <p>With the best styling products we would give you a gorgeous look</p>
                                    </div>
                                </li>
                            </ul>                        
                        </div>
                        </div>
                         <div class="col-lg-4 col-md-12 col-sm-12 text-center d-none d-lg-block">
                            <div class="sd-img">
                                <img src="https://i.ibb.co/m48N4Q4/appointment-img-details2.png" alt="services-img-details2" >
                                {% comment %} <img src="/static/img/features/appointment-img-details2.png" alt="img">     {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="about-content s-about-content">
                                
                                 <ul class="sr-tw-ul sr-thr-ul">
                                     <li>
                                         <!-- <div class="icon"><img src="/static/img/icon/fe-icon01.png" alt="icon01"></div> -->
                                     <div class="text pt-10">
                                         <h4><a href="/appointment">Hair Cut</a></h4> 
                                        <p>It is going to be your way</p>
                                    </div>
                                </li>
                                <li>
                                     <!-- <div class="icon"><img src="/static/img/icon/fe-icon05.png" alt="icon05"></div> -->
                                     <div class="text pt-10">
                                       <h4><a href="/appointment">Balayage</a></h4> 
                                        <p>Balayage is a premium service, don't worry we are expert in it</p>
                                    </div>
                                </li>
                                 <li>
                                     <!-- <div class="icon"><img src="/static/img/icon/fe-icon06.png" alt="icon06"></div> -->
                                     <div class="text pt-10">
                                       <h4><a href="/appointment">Texture</a></h4> 
                                        <p>With the use of best products we would texture your hairs</p>
                                    </div>
                                </li>  
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-details2-area-end -->
             <!-- pricing-area -->
            <section id="pricing" class="pricing-area pb-60 fix p-relative" style="background: url(/static/img/bg/price-bg.png); background-size: contain; background-position: center center; background-repeat: no-repeat;">
                <div class="container"> 
                   <div class="row">
                       <div class="col-lg-12">
                            <div class="section-title text-center mb-50 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                                <h5 id="our_prices">Choose Service</h5>
                                <h2>
                                    Our Pricing Plan
                                </h2>
                            </div>
                        </div>
                        </div>
                         <div class="row pcolor">
                        <div class="col-lg-4 col-md-6">
                          <div class="pricing-box pricing-box2 text-center mb-60">
                                    <div class="pricing-head">  
                                        <h3>Hair Cut</h3>  
                                            <div class="price-count">
                                                <h2><span>Starting from </span> 250</h2>
                                            </div> 
                                        <hr>
                                    </div>
                                    <div class="pricing-body mt-20 mb-30 text-left">
                                       <ul>
                                            <li>This is our one of the basic services.</li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>             
                                    <div class="pricing-btn">
                                       <a href="/appointment" class="btn ss-btn">Choose Other Services</a>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                             <div class="pricing-box pricing-box2 active text-center mb-60">
                                    <div class="pricing-head"> 
                                        <h3>Balayage</h3>  
                                            <div class="price-count">
                                            <h2><span>Starting from </span> 3500</h2>
                                            </div> 
                                        <hr>
                                    </div>
                                    <div class="pricing-body mt-20 mb-30 text-left">
                                       <ul>
                                            <li>This is our one of the premium services.</li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>             
                                    <div class="pricing-btn">
                                        <a href="/appointment" class="btn ss-btn">Choose Other Services</a>
                                    </div>
                                </div>
                        </div>
                         <div class="col-lg-4 col-md-6">
                             <div class="pricing-box pricing-box2 text-center mb-60">
                                    <div class="pricing-head">   
                                        <h3>Hair Wash</h3>  
                                            <div class="price-count">
                                            <h2><span>Starting from </span> 400</h2>
                                        </div> 
                                        <hr>
                                    </div>
                                    <div class="pricing-body mt-20 mb-30 text-left">
                                       <ul>
                                           <li>This is our one of the basic services.</li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>             
                                    <div class="pricing-btn">
                                        <a href="/appointment" class="btn ss-btn">Choose Other Services</a>
                                    </div>
                                </div>                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- pricing-area-end -->
           <!-- gallery-area -->
            <section id="work" class="pt-120 pb-110" style="background: url(/static/img/bg/gallery-bg.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                <div class="container"> 
                     <div class="row">
                       <div class="col-lg-12">
                            <div class="section-title text-center mb-40 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                                <h5 id="our_work">Our Gallery</h5>
                                <h2>
                                   See Our Portfolio
                                </h2>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="masonry-gallery-huge portfolio ">
                        <div class="grid col4">
                             <div class="grid-item hover-zoomin ">
                                 <a class="popup-image" href="/static/img/gallery/protfolio-img01.png">
                                     <figure class="gallery-image">
                                         {% comment %} <img src="/static/img/gallery/protfolio-img01.png" alt="img" class="img">       {% endcomment %}
                                         <img src="https://i.ibb.co/S0V9Z2K/protfolio-img01.png" alt="protfolio-img01"  class="img">
                                        </figure>
</a>
</div>
<div class="grid-item hover-zoomin ">
    <a class="popup-image" href="/static/img/gallery/protfolio-img02.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img02.png" alt="img" class="img">       {% endcomment %}
            <img src="https://i.ibb.co/g4x2r0R/protfolio-img02.png" alt="protfolio-img02" class="img">
        </figure>
    </a>
</div>
<div class="grid-item hover-zoomin ">   
    <a class="popup-image" href="/static/img/gallery/protfolio-img03.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img03.png" alt="img" class="img">    {% endcomment %}
            <img src="https://i.ibb.co/7jjS6ht/protfolio-img03.jpg" alt="protfolio-img03" class="img">
        </figure>
    </a>
</div>
<div class="grid-item hover-zoomin ">
    <a class="popup-image" href="/static/img/gallery/protfolio-img04.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img04.png" alt="img" class="img">   {% endcomment %}
            <img src="https://i.ibb.co/4p7fYrk/protfolio-img04.png" alt="protfolio-img04" class="img">
        </figure>
    </a>
</div> 
<div class="grid-item hover-zoomin  ">    
    <a class="popup-image" href="/static/img/gallery/protfolio-img05.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img05.png" alt="img" class="img">     {% endcomment %}
            <img src="https://i.ibb.co/cTQW7Ls/protfolio-img05.png" alt="protfolio-img05" class="img">
        </figure>
    </a>
</div>
<div class="grid-item hover-zoomin ">
    <a class="popup-image" href="/static/img/gallery/protfolio-img06.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img06.png" alt="img" class="img">       {% endcomment %}
            <img src="https://i.ibb.co/vZMthdc/protfolio-img06.png" alt="protfolio-img06" class="img">
        </figure>
    </a>
</div>
<div class="grid-item hover-zoomin ">
    <a class="popup-image" href="/static/img/gallery/protfolio-img07.png">
        <figure class="gallery-image">
            {% comment %} <img src="/static/img/gallery/protfolio-img07.png" alt="img" class="img">       {% endcomment %}
            <img src="https://i.ibb.co/Xkr9JvF/protfolio-img07.jpg" alt="protfolio-img07" class="img">
                                        </figure>
                                    </a>
                                </div>
                                <div class="grid-item hover-zoomin ">
                                    <a class="popup-image" href="/static/img/gallery/protfolio-img08.png">
                                        <figure class="gallery-image">
                                            {% comment %} <img src="/static/img/gallery/protfolio-img08.png" alt="img" class="img">       {% endcomment %}
                                            <img src="https://i.ibb.co/wLv2Bqp/protfolio-img08.png" alt="protfolio-img08" class="img">
                                        </figure>
                                    </a>
                            </div>
                            </div>
                    </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- gallery-area-end -->
            <!-- testimonial-area -->
            <section class="testimonial-area pt-120 p-relative fix" style="background: url(img/bg/test-bg.png); background-position: center center; background-repeat: no-repeat;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="section-title mb-50 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                                <h5 id="testimonials">Our Testimonial</h5>
                                <h2>
                                 What Our Clients Says
                                </h2>
                                <p class="mt-15"></p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="testimonial-active">
                                <div class="single-testimonial">
                                    <div class="testi-author">
                                        {% comment %} <img src="/static/img/testimonial/testi_avatar_03.png" alt="img"> {% endcomment %}
                                        <img src="https://i.ibb.co/jhzMj3x/testi-avatar-03.png" alt="testi-avatar-03">
                                         <div class="ta-info">
                                             <h6>Rishi Suthar</h6>
                                             <span>Client</span>
                                            </div>
                                        </div>
                                    <p>“The staff members listen to my needs and provide expert advice on the best treatments and services suitable for me.”</p>
                                    <div class="qt-img">
                                        {% comment %} <img src="/static/img/testimonial/qt-icon.png" alt="img"> {% endcomment %}
                                        <img src="https://i.ibb.co/zRM20fC/qt-icon.png" alt="qt-icon">
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                    <div class="testi-author">
                                        <img src="https://i.ibb.co/jzd6GDD/testi-avatar.png" alt="testi-avatar">
                                        {% comment %} <img src="/static/img/testimonial/testi_avatar.png" alt="img"> {% endcomment %}
                                        <div class="ta-info">
                                            <h6>Ritika Prajapati</h6>
                                            <span>Client</span>
                                        </div>
                                    </div>
                                    <p>“With its expert stylists, luxurious treatments, and serene ambiance, it's the ultimate destination for a transformative experience.”</p>
                                    <div class="qt-img">
                                        <img src="https://i.ibb.co/zRM20fC/qt-icon.png" alt="qt-icon">
                                        {% comment %} <img src="/static/img/testimonial/qt-icon.png" alt="img"> {% endcomment %}
                                    </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testi-author">
                                    {% comment %} <img src="/static/img/testimonial/testi_avatar_02.png" alt="img"> {% endcomment %}
                                    <img src="https://i.ibb.co/y6Df9J7/testi-avatar-02.png" alt="testi-avatar-02">
                                    <div class="ta-info">
                                        <h6>Ravi Shah</h6>
                                        <span>Client</span>
                                    </div>
                                </div>
                                <p>“Whether you're looking for a routine trim or a complete makeover, Bellita the Salon is undoubtedly the place to go.”</p>
                                <div class="qt-img">
                                    <img src="https://i.ibb.co/zRM20fC/qt-icon.png" alt="qt-icon">
                                    {% comment %} <img src="/static/img/testimonial/qt-icon.png" alt="img"> {% endcomment %}
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testi-author">
                                    {% comment %} <img src="/static/img/testimonial/testi_avatar_01.png" alt="img"> {% endcomment %}
                                    <img src="https://i.ibb.co/L8zLcsH/testi-avatar-01.png" alt="testi-avatar-01">
                                        <div class="ta-info">
                                            <h6>Shivani Rathore</h6>
                                            <span>Client</span>
                                        </div>
                                    </div>
                                    <p>“Step inside and indulge in the artistry of their skilled stylists, who will transform your hair into a masterpiece.”</p>
                                    <div class="qt-img">
                                        <img src="https://i.ibb.co/zRM20fC/qt-icon.png" alt="qt-icon">
                                    {% comment %} <img src="/static/img/testimonial/qt-icon.png" alt="img"> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial-area-end -->
            <div class="map fix" style="background: #f5f5f5;">
                <div class="container-flud">
                    <div class="row">
                        <div class="col-lg-12">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.5184881112941!2d72.62864369238355!3d23.17608377332915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2bb3619f9fdf%3A0xc4be3eeb15516748!2sThe%20Landmark!5e0!3m2!1sen!2sin!4v1683636866675!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main-area-end -->
        <!-- footer -->
        <footer class="footer-bg footer-p pt-90" style="background-color: #252525; background-image: url(img/bg/footer-bg.png);">
            <div class="footer-top">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-sm-6">
                            <div class="footer-widget mb-30">
                                <!-- <div class="f-widget-title mb-40"> -->
                                <div class="logo">
                                  <a href="#"><img src="/static/img/logo/logo1.png" alt="logo" width="100%"></a>
                                </div>
                                <div class="footer-social mt-10">
                                <p>Have a look on our social media accounts... </p>
                                <a href="https://www.facebook.com/Bellitathesalon/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/pradeep_bellita_the_salon/"><i class="fab fa-instagram"></i></a>
                                <a href="https://mail.google.com/mail/u/0/?fs=1&to=bellitathesalon@gmail.com&tf=cm"><i class="fa fa-envelope"></i></a>    
                                <a href="tel:+919904455668"><i class="fas fa-phone-alt"></i></a>                                  
                                </div> 
                                <div class="footer-link">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Book Your Services Now</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="/appointment">Facials</a></li>
										<li><a href="/appointment">Bridal Makeup</a></li>
                                        <li><a href="/appointment">Hair Cut</a></li>
                                        <li><a href="/appointment">Balayage</a></li>
                                        <li><a href="/appointment">Styling</a></li>
                                        <li><a href="/appointment">Texture</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Other Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="#"> Home</a></li>
                                        <li><a href="/appointment">Book Now</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row align-items-center copyright-wrap">
                    <div class="col-lg-6">
                          <div class="copy-text">
                                 Copyright &copy; 2023 <a href="/index">Bellita</a>. All rights reserved.       
                          </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="copay-contact">                                    
                                   <ul>
                                        <li>
                                                <div class="c-contact">
                                                    <div class="icon">
                                                        <img src="/static/img/icon/ft-icon01.png" alt="logo">
                                                    </div>
                                                    <div class="text">
                                                        <strong>Everyday:</strong>
                                                        <p>09:30 AM - 09:00 PM</p>
                                                    </div>
                                                </div>
                                        </li>
                                       <li>
                                        <a href="tel:+919904455668">
                                            <div class="c-contact">   
                                                <div class="icon">
                                                    <img src="/static/img/icon/ft-icon03.png" alt="img">
                                                </div>
                                                <div class="text">
                                                    <h3>Call Now:</h3>
                                                    <p>+919904455668</p>
                                                </div>
                                            </div>
                                        </a>
                                       </li>
                                    </ul>
                                </div>    
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/slick.min.js"></script>
        <script src="/static/js/ajax-form.js"></script>
        <script src="/static/js/paroller.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/js_isotope.pkgd.min.js"></script>
        <script src="/static/js/imagesloaded.min.js"></script>
        <script src="/static/js/parallax.min.js"></script>
        <script src="/static/js/jquery.waypoints.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/jquery.scrollUp.min.js"></script>
        <script src="/static/js/jquery.meanmenu.min.js"></script>
        <script src="/static/js/parallax-scroll.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/element-in-view.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>