<!doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bellita : The Salon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
           <center><section id="booking" class="booking-area p-relative pt-120 pb-120" style="background: url(https://i.ibb.co/j3mXM2g/ap-bg.png);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <img src="https://i.ibb.co/rp1Cstz/logo.png" alt="logo" width="25%"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-bg">
                            <div class="section-title center-align">
                                <h4>
                                    Appointment Booked Successfully
                                </h4>
                                    <p><h3>{{appointment.input_name}}</h3> Your Appointment On <h3>{{appointment.date}}</h3> Has Been Booked Successfully!</p>
                                    <p><h3>Welcome to Bellita The Salon.</h3></p>
                            </div>                              
                        </div>    
                    </div>
                </div>
            </div>
        </section></center>
    </body>
</html>