<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bellita : The Salon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0; padding: 0;">

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center" bgcolor="#ffffff" style="padding: 20px 0;">
                <table cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                    <tr>
                        <td align="center" bgcolor="#ffffff" style="padding: 40px 20px;">
                            <img src="https://i.ibb.co/rp1Cstz/logo.png" alt="logo" width="150" style="display: block; filter: invert(100%);">
                        </td>                        
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 20px;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td align="center" style="font-size: 24px; font-weight: bold;">
                                        You have received a new appointment
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 20px 0;">
                                        <p style="font-size: 18px; font-weight: bold;">
                                            Customer name: <span style="font-weight: normal;">{{appointment.input_name}}</span>
                                        </p>
                                        <p style="font-size: 18px; font-weight: bold;">
                                            On date: <span style="font-weight: normal;">{{appointment.date}}</span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>
